---
Checks: >
  -*, 
  bugprone-*, 
  -bugprone-branch-clone*,
  -bugprone-easily-swappable-parameters*,
  -bugprone-implicit-widening-of-multiplication-result*,
  clang-diagnostic-*, 
  -clang-diagnostic-unused-command-line-argument*,
  clang-analyzer-*, 
  cppcoreguidelines-*, 
  -cppcoreguidelines-owning-memory*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic*,
  -cppcoreguidelines-avoid-magic-numbers*,
  -cppcoreguidelines-non-private-member-variables-in-classes*,
  modernize-*, 
  -modernize-use-auto*,
  -modernize-use-trailing-return-type*,
  google-*, 
  performance-*,
  readability-identifier-namingWarningsAsErrors*
HeaderFileExtensions:
  - ''
  - h
  - hh
  - hpp
  - hxx
ImplementationFileExtensions:
  - c
  - cc
  - cpp
  - cxx
HeaderFilterRegex: ''
ExcludeHeaderFilterRegex: ''
FormatStyle:     none
CheckOptions:
    - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctionsWhenCopyIsDeleted
      value: 1
    # Configuration for readability-identifier-naming
    - key: readability-identifier-naming.VariableCase
      value: camelBack
    - key: readability-identifier-naming.FunctionCase
      value: camelBack
    - key: readability-identifier-naming.ClassCase
      value: CamelCase
    - key: readability-identifier-naming.EnumCase
      value: CamelCase
    - key: readability-identifier-naming.NamespaceCase
      value: CamelCase
    - key: readability-identifier-naming.ConstantCase
      value: UPPER_CASE
    - key: readability-identifier-naming.VariablePrefix
      value: ""
    - key: readability-identifier-naming.FunctionPrefix
      value: ""
    - key: readability-identifier-naming.ClassPrefix
      value: ""
    - key: readability-identifier-naming.EnumPrefix
      value: ""
    - key: readability-identifier-naming.NamespacePrefix
      value: ""
    - key: readability-identifier-naming.ConstantPrefix
      value: ""
SystemHeaders:   false
...



